<ul class="nav nav-sidebar">
  <li ng-class="{'active':isCurrentCategory('home')}"><a href="#/home">Splunk Overview <span class="sr-only">(current)</span></a></li>
  <li ng-class="{'active':isCurrentCategory('userCharacteristics')}"><a href="#/user_characteristics">User Characteristics</a></li>
  <li ng-class="{'active':isCurrentCategory('')}"><a href="#/pages/post_content">Post Content</a></li>
  <li ng-class="{'active':isCurrentCategory('')}"><a href="#/pages/timing">Timing</a></li>
</ul>
<ul class="nav nav-sidebar">
  <li><a href="#/textual_analysis">Textual Analysis</a></li>
  <li><a href="#subreddit_trends">Subreddit Trends</a></li>
</ul>
